# Libraries (personnal)
libmy.a

# binaries produced by makefile
*.o
*.so
*.gcda
*.gcno

.vscode

# for debugging
vgcore*

# binaries used in project
/a.out
/mysh
/42sh

# files to tests (local)
file
test

# in case emacs
*~
*#
